*{
    margin: 0;
    padding: 0;
}

.container{
    /* display: flex; */
    background-color:#1F2937 ;
}

img{
    height: 150px;
    width: 150px;
    /* display: flex; */
    
}

.header{
    display: flex;
    font-size: 24px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.container ul{
    display: flex;
    list-style-type: none;
    
}

 li{
    margin-left: 10px;
}

/* .header-logo, .nav-list{
display: flex;
width: 100%;
} */

.nav-list{
    /* display: flex; */
    justify-content: space-between;

}
ul{
    justify-content: space-between;
    padding: 10px;
}
/* .header-logo{
/* display: flex; */
/* align-items: center; */

.content{
    background-color:#1F2937;
    display: flex;
    align-items: center;
    justify-content:space-around;
    font-size:18px;
    color: #E5E7EB;
}

.image-content{
    height: 400px;
    width: 400px;

    
}

    .info-header{
        font-size: 18px;
        color: #1F2937;
        text-align: center;
        padding:10px;
        margin: auto;
    }

    .box1{
        border-radius: 20%;
        border: 1px solid blue;
        width: 150px;
        height:150px;
        display: flex;

    }
    /* .header-content, .paragraph-content{
        display: flex;
        
    } */

    .quote{
        background-color: #E5E7EB;
        font-size: 36px;
        color: #1f2937;
        
    }

    button{
        background-color:#3882f6;
        border-radius: 25%;
        color: white;
        border: 1 solid #3882f6;
    }